body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0, 9;
}

#navbar {
	margin-left: 10px;
	height: 69px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 2;
}

#logo {
	height: 50px;
}

#nav_list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	/* margin: auto 10px; */
}
.navbar-link {
	color: seashell;
	text-decoration: underline;
}
