body {
	margin: 0px;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0, 9;
}

#navbar {
	background-color: black;
	margin: 0px;
	height: 69px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 2;
	border-bottom: 1px solid seashell;
}

#logo {
	height: 50px;
	margin-left: 10px;
}

#nav_list {
	margin-right: 10px;
	list-style: none;
	display: flex;
	gap: 24px;
}
.navbar-link {
	color: seashell;
	text-decoration: underline;
}

#mission_background {
	display: flex;
	margin: auto;
	position: relative;
	height: 700px;
	width: 1200px;
}

#mission_content {
	position: absolute;
	text-align: center;
	top: 350px;
	background-color: black;
	width: 100%;
}

#content_container {
	width: 1000px;
	margin: auto;
}

#content {
	margin-top: 60px;
	text-align: center;
}

#content_cards {
	margin-top: 16px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.content_card {
	text-align: center;
}

.img_card {
	width: 300px;
	height: 200px;
}

h2,
h4 {
	margin: 10px auto;
}
